.image-container {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
}
.caption {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}
.caption h1 {
  font-size: 146px;
  display: block;
  margin: 0 auto;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.card-title {
  font-weight: bold;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
.card {
  font-family: "Playfair Display", serif;
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 35px;
  border: none;
}
.latest-book,
.copyright {
  font-family: "Open Sans", sans-serif;
}
.latest-book h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
}
.latest-book p {
  font-size: 16px;
  color: #55606e;
}
.about-container {
  padding: 0 50px;
  margin: 0 305px;
}
.about-container h3 {
  margin: 30px 8px;
  color: #11202a;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.about-container p {
  font-family: "Open Sans", sans-serif;
  color: #55606e;
  font-size: 16px;
}
.footer {
  background-color: #161a1c;
  color: #e4e6f0;
  font-weight: bold;
  font-size: 11px;
  border: 1px solid #3e4a52;
  margin-top: 50px;
  padding: 18px 50px;
}
.nav {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.nav-link {
  color: #131313 !important;
}
@media (max-width: 768px) {
  .caption h1 {
    font-size: 42px;
  }
  .about-container {
    padding: 0 5px;
    margin: 0 45px;
  }
}
@media (min-width: 992px) {
  .caption h1 {
    font-size: 100px;
  }
}
@media (min-width: 1399.98px) {
  .caption h1 {
    font-size: 146px;
  }
}
